Repository KakaoFunding/back-end, pull requests merged in 2024-05, with the labels that each got.

#167 펀딩 결제 페이지 요청/응답 Body 수정, ProductDto에 brandName 필드 추가
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/request/FundingPreviewRequest.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/request/FundingProductDto.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/response/FundingPreviewAmount.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/response/FundingPreviewResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingService.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/Product4DisplayDto.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductDto.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/test/java/org/kakaoshare/backend/domain/order/service/OrderServiceTest.java
Labels: :black_heart:back, refactor, feat

#169 로그인 시 프로필 사진, ID 추가
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginMemberResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/OAuthProfile.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/detail/KakaoProfile.java
Labels: :black_heart:back, refactor

#171 도메인 별 예외 및 에러 코드 통일화
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingDetailErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingDetailException.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingException.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingService.java
  src/main/java/org/kakaoshare/backend/domain/gift/exception/GiftErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/gift/exception/GiftException.java
  src/main/java/org/kakaoshare/backend/domain/gift/repository/query/GiftRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/MemberErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/MemberException.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/token/RefreshTokenErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/token/RefreshTokenException.java
  src/main/java/org/kakaoshare/backend/domain/order/exception/OrderErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/order/exception/OrderException.java
  src/main/java/org/kakaoshare/backend/domain/payment/exception/PaymentErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/payment/exception/PaymentException.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/product/error/ProductErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/product/error/exception/ProductException.java
  src/main/java/org/kakaoshare/backend/domain/product/exception/ProductErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/product/exception/ProductException.java
  src/main/java/org/kakaoshare/backend/domain/product/service/ProductService.java
  src/test/java/org/kakaoshare/backend/domain/member/service/UserDetailsServiceImplTest.java
Labels: :black_heart:back, refactor, feat

#173 결제 성공/실패/취소 리다이렉트 URL을 프론트쪽 호스트로 변경
  src/main/resources/application-dev.yml
Labels: :black_heart:back, config

#175 주문내역 조회, 상세 조회 로직 추가
  src/main/java/org/kakaoshare/backend/common/util/RepositoryUtils.java
  src/main/java/org/kakaoshare/backend/domain/option/dto/OptionSummaryResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/controller/OrderController.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/OrderHistoryDetailDto.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/OrderHistoryDetailResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/OrderProductDto.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/preview/OrderPreviewResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/exception/OrderErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/order/repository/query/OrderRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/order/repository/query/OrderRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/order/service/OrderService.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/inquiry/PaymentHistoryDto.java
  src/main/java/org/kakaoshare/backend/domain/payment/repository/PaymentRepository.java
  src/test/java/org/kakaoshare/backend/domain/order/service/OrderServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#177 펀딩 결제 완료시 응답값에 상품 이미지 추가, 기존 선물 결제 승인 DTO 수정
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentFundingSuccessResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentGiftSuccessResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductSummaryResponse.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductRepository.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
Labels: :black_heart:back, refactor, feat

#184 선물 결제시 받는이 providerId 검증 로직 추가
  src/main/java/org/kakaoshare/backend/domain/friend/dto/request/KakaoFriendListRequest.java
  src/main/java/org/kakaoshare/backend/domain/friend/dto/response/Friend.java
  src/main/java/org/kakaoshare/backend/domain/friend/dto/response/KakaoFriendListResponse.java
  src/main/java/org/kakaoshare/backend/domain/friend/exception/FriendErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/friend/exception/FriendException.java
  src/main/java/org/kakaoshare/backend/domain/friend/service/KakaoFriendRequestProvider.java
  src/main/java/org/kakaoshare/backend/domain/friend/service/KakaoFriendService.java
  src/main/java/org/kakaoshare/backend/domain/friend/service/KakaoFriendWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/option/repository/OptionRepository.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/PaymentGiftReadyReceiver.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/PaymentGiftReadyRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/resources/application-dev.yml
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
Labels: :black_heart:back, refactor, feat

#195 펀딩 완료시 선물함으로 이동 기능, 펀딩 결제 준비시 추가 검증 로직 추가
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingStatus.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingGiftRepository.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/FundingGift.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/Gift.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/resources/db/migration/V5__create_funding_gift.sql
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/FundingFixture.java
Labels: :black_heart:back, refactor, feat, test

#199 [HOTFIX] api/v1/ouath/reissue URL을 permitAll()로 설정
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
Labels: bug, :black_heart:back, refactor

#197 주문내역 조회 로직 변경
  src/main/java/org/kakaoshare/backend/common/vo/Date.java
  src/main/java/org/kakaoshare/backend/domain/order/controller/OrderController.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/OrderHistoryRequest.java
  src/main/java/org/kakaoshare/backend/domain/order/repository/query/OrderRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/order/repository/query/OrderRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/order/service/OrderService.java
  src/main/java/org/kakaoshare/backend/domain/order/vo/OrderHistoryDate.java
  src/test/java/org/kakaoshare/backend/domain/order/service/OrderServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#201 카테고리 ID로 브랜드 조회 응답값을 페이징에서 리스트로 수정
  src/main/java/org/kakaoshare/backend/domain/brand/controller/BrandController.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/brand/service/BrandService.java
  src/test/java/org/kakaoshare/backend/domain/brand/repository/BrandRepositoryTest.java
Labels: :black_heart:back, refactor, test

#187 Feature/friends wishlist api
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/detail/KakaoFriendListDto.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/MemberErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/wish/controller/WishController.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/AbstractWishDetail.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/FriendWishDetail.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/FriendsWishRequest.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/MyWishDetail.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/WishDetail.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/query/WishRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/query/WishRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/wish/service/WishService.java
  src/test/java/org/kakaoshare/backend/domain/wish/service/WishServiceTest.java
Labels: :black_heart:back, feat

#189 Feature/handle error enhance
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/error/handler/AuthenticationAccessDeniedHandler.java
  src/main/java/org/kakaoshare/backend/common/error/handler/CustomAuthenticationEntryPoint.java
  src/main/java/org/kakaoshare/backend/common/error/handler/GlobalExceptionHandler.java
  src/main/java/org/kakaoshare/backend/common/error/response/ErrorResponse.java
  src/main/java/org/kakaoshare/backend/common/filter/JwtAuthenticationFilter.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtErrorCode.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtException.java
Labels: bug, :black_heart:back

#204 [HOTFIX]FundingGift의 status 필드에 columnDefinition 속성 추가
  src/main/java/org/kakaoshare/backend/domain/gift/entity/FundingGift.java
Labels: bug, :black_heart:back, refactor

#211 [HOTFIX] 선물 결제 승인 오류 수정
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductSummaryResponse.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
Labels: bug, :black_heart:back, refactor

#213 로그인시 생년월일 응답값에 추가
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginMemberResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/OAuthProfile.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/detail/KakaoProfile.java
Labels: :black_heart:back, feat

#215 Spring Security 6 버전에서 Deprecated 된 코드 수정
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
Labels: :black_heart:back, refactor

#222 [HOTFIX] 기여한 펀딩내역 조회 응답값에 기여 금액 추가
  src/main/java/org/kakaoshare/backend/domain/funding/dto/inquiry/ContributedFundingHistoryDto.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingDetailRepositoryCustomImpl.java
  src/test/java/org/kakaoshare/backend/domain/funding/service/FundingDetailServiceTest.java
Labels: bug, :black_heart:back, feat, test

#225 [HOTFIX] CORS 문제 해결
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
Labels: bug, :black_heart:back

#233 [HOTFIX] 검색 시 브랜드 중복 데이터 조회 문제 해결
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImpl.java
Labels: bug, :black_heart:back, refactor

#229 [HOTFIX] 펀딩 등록 오류 해결
  src/main/java/org/kakaoshare/backend/domain/funding/controller/FundingController.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/RegisterRequest.java
  src/main/resources/db/migration/V5__modify_funding_idx.sql
  src/test/java/org/kakaoshare/backend/domain/funding/service/FundingServiceTest.java
Labels: :black_heart:back, refactor

#240 [HOTFIX] PR #189 누락된 내용 추가
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/error/handler/AuthenticationAccessDeniedHandler.java
  src/main/java/org/kakaoshare/backend/common/error/handler/CustomAuthenticationEntryPoint.java
  src/main/java/org/kakaoshare/backend/common/error/handler/GlobalExceptionHandler.java
  src/main/java/org/kakaoshare/backend/common/error/response/ErrorResponse.java
  src/main/java/org/kakaoshare/backend/common/filter/JwtAuthenticationFilter.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtErrorCode.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtException.java
Labels: bug, :black_heart:back, refactor

#244 위시 삭제가 DB에 반영되지 않는 문제 해결
  src/main/java/org/kakaoshare/backend/domain/wish/entity/Wish.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/WishRepository.java
  src/main/java/org/kakaoshare/backend/domain/wish/service/WishService.java
Labels: bug, :black_heart:back, refactor

#235 로그인 시 회원 프로필 이미지 사진 추가
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/OAuthProfile.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentFundingSuccessResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentGiftSuccessResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentSuccessReceiver.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/Receiver.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/resources/db/migration/V7__modify_funding_idx.sql
  src/main/resources/db/migration/V8__add_member_profile_url.sql
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/MemberFixture.java
Labels: :black_heart:back, refactor, feat

#238 소셜 로그아웃 로직 추가 및 기존 OAuthWebClientService 계층화
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/logout/OAuthSocialLogoutRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/logout/detail/kakao/request/KakaoLogoutRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/detail/kakao/KakaoOAuthRequestProvider.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/detail/kakao/KakaoOAuthService.java
  src/main/resources/application-dev.yml
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#255 [HOTFIX]날짜 필터링 검증 버그 해결
  src/main/java/org/kakaoshare/backend/common/vo/Date.java
Labels: bug, :black_heart:back, refactor

#258 [FEAT, REFACTOR] Date VO 예외 핸들링 추가
  src/main/java/org/kakaoshare/backend/common/util/RepositoryUtils.java
  src/main/java/org/kakaoshare/backend/common/vo/date/Date.java
  src/main/java/org/kakaoshare/backend/common/vo/date/exception/DateErrorCode.java
  src/main/java/org/kakaoshare/backend/common/vo/date/exception/DateException.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingDetailRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingDetailRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/funding/vo/FundingHistoryDate.java
  src/main/java/org/kakaoshare/backend/domain/order/vo/OrderHistoryDate.java
  src/test/java/org/kakaoshare/backend/domain/funding/service/FundingDetailServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/order/service/OrderServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#252 [FEAT, REFACTOR] 소셜 토큰 재발급 기능 추가 및 기존 토큰 재발급에 사용되는 DTO명 수정
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/OAuthReissueRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/OAuthReissueResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/ReissueRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/ReissueResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/token/OAuthTokenRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/token/OAuthTokenResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/token/RefreshTokenDto.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/detail/kakao/KakaoOAuthService.java
  src/main/resources/application-dev.yml
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
Labels: :black_heart:back, refactor, feat, test
