Repository KakaoFunding/back-end, pull requests merged in 2024-07, with the labels that each got.

#321 [HOTFIX]ReceiptOption 엔티티가 BaseTimeEntity를 상속받도록 수정
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/ReceiptOption.java
Labels: bug, :black_heart:back, feat

#323 [REFACTOR] 로깅 모듈이 인터셉터를 사용하여 동작하도록 수정
  src/main/java/org/kakaoshare/backend/logging/config/LoggingConfig.java
  src/main/java/org/kakaoshare/backend/logging/interceptor/LoggingInterceptor.java
Labels: :black_heart:back, refactor

#325 [FEAT]ReceiptOption 인덱스 수정 사항 Flyway SQL 추가
  src/main/resources/db/migration/V10__modify_receipt_option_idx.sql
Labels: :black_heart:back, feat

#327 [fix]응답 객체 수정 (#326)
  src/main/java/org/kakaoshare/backend/domain/cart/dto/inquiry/CartResponse.java
Labels: bug, :black_heart:back, feat

#312 [HOTFIX, FEAT] 펀딩 기여 시 중첩되는 현상 해결, 기여한 펀딩 취소 금액 검증 로직 추가
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingDetail.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingDetailErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
Labels: bug, :black_heart:back, feat

#313 [FEAT] 펀딩 기여시 기여 금액 검증 로직 추가
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
Labels: :black_heart:back, feat

#331 [FEAT] 펀딩 최대 기여자 페이징 조회 추가
  src/main/java/org/kakaoshare/backend/domain/funding/controller/FundingController.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/rank/response/TopContributorResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingDetailRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingDetailService.java
  src/main/resources/testdata/initial_5_payment.sql
  src/main/resources/testdata/initial_6_funding_detail.sql
  src/test/java/org/kakaoshare/backend/domain/funding/repository/FundingDetailRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/funding/service/FundingDetailServiceTest.java
Labels: :black_heart:back, feat, test

#334 카테고리 조회 성능 개선
  src/main/java/org/kakaoshare/backend/common/config/RedisConfig.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/CategoryDto.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/CategoryHeaderResponse.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/SimpleCategoryDto.java
  src/main/java/org/kakaoshare/backend/domain/category/entity/Category.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/category/service/CategoryService.java
  src/main/resources/db/migration/V11__modify_category_index.sql
  src/test/java/org/kakaoshare/backend/domain/category/repository/CategoryRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/category/service/CategoryServiceTest.java
Labels: :black_heart:back

#336 ReceiptOption 날짜 컬럼 Flyway 스키마 추가
  .github/workflows/build-deploy.yml
  appspec.yml
  docker-compose.yml
  nginx.conf
  prometheus.yml
  scripts/backup.sh
  scripts/restore.sh
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginResult.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/main/resources/db/migration/V11__add_receipt_option_date_column.sql
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
Labels: :black_heart:back, feat
