Repository KakaoFunding/back-end, pull requests merged in 2024-04, with the labels that each got.

#75 Feature/category header api
  src/main/java/org/kakaoshare/backend/domain/category/controller/CategoryController.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/CategoryHeaderResponse.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/SimpleCategoryDto.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/category/service/CategoryService.java
  src/test/java/org/kakaoshare/backend/domain/category/repository/CategoryRepositoryTest.java
Labels: :black_heart:back, feat

#76 옵션을 고려한 결제 기능
  src/main/java/org/kakaoshare/backend/common/util/RedisUtils.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/Gift.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/GiftStatus.java
  src/main/java/org/kakaoshare/backend/domain/option/dto/OptionSummaryRequest.java
  src/main/java/org/kakaoshare/backend/domain/option/dto/OptionSummaryResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/OrderSummary.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/OrderSummaryResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/Order.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/OrderDetail.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/OrderDetails.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/approve/response/KakaoPayApproveResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/PaymentReadyRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/response/PaymentReadyResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/request/PaymentSuccessRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentSuccessResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/Receiver.java
  src/main/java/org/kakaoshare/backend/domain/payment/entity/Payment.java
  src/main/java/org/kakaoshare/backend/domain/payment/exception/PaymentErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/payment/exception/PaymentException.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/OrderNumberProvider.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductSummaryResponse.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/Receipt.java
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/ReceiptOption.java
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/Receipts.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#82 결제 관련 오류, ReceiptOption 엔티티 수정
  src/main/java/org/kakaoshare/backend/domain/option/repository/OptionRepository.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/OrderDetail.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/PaymentReadyProductDto.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/PaymentReadyRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/exception/PaymentErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/KakaoPayRequestProvider.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/ReceiptOption.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/MemberFixture.java
Labels: bug, :black_heart:back, refactor, feat

#85 Feature/rename column
  build.gradle
  src/main/java/org/kakaoshare/backend/common/config/FlywayConfig.java
  src/main/java/org/kakaoshare/backend/common/config/JasyptConfig.java
  src/main/java/org/kakaoshare/backend/domain/brand/entity/Brand.java
  src/main/java/org/kakaoshare/backend/domain/category/entity/Category.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingDetail.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/option/entity/Option.java
  src/main/java/org/kakaoshare/backend/domain/option/entity/OptionDetail.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/Order.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/ProductDescriptionPhoto.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/ProductThumbnail.java
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/Receipt.java
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/ReceiptOption.java
  src/main/java/org/kakaoshare/backend/domain/wish/entity/Wish.java
  src/main/resources/application-dev.yml
  src/main/resources/db/migration/V2.0__create_procedure.sql
  src/main/resources/db/migration/V2.1__add_index.sql
Labels: :black_heart:back, refactor, infra, config

#90 Feature/wish api
  build.gradle
  src/main/java/org/kakaoshare/backend/common/config/AsyncConfig.java
  src/main/java/org/kakaoshare/backend/common/config/AuditingConfig.java
  src/main/java/org/kakaoshare/backend/common/config/RetryConfig.java
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/filter/JwtAuthenticationFilter.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingService.java
  src/main/java/org/kakaoshare/backend/domain/gift/service/GiftService.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/product/controller/ProductController.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/WishCancelEvent.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/WishEvent.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/WishResponse.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/WishType.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/java/org/kakaoshare/backend/domain/product/error/ProductErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/product/error/exception/ProductException.java
  src/main/java/org/kakaoshare/backend/domain/product/service/ProductService.java
  src/main/java/org/kakaoshare/backend/domain/wish/controller/WishController.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/WishDetail.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/WishReservationEvent.java
  src/main/java/org/kakaoshare/backend/domain/wish/entity/Wish.java
  src/main/java/org/kakaoshare/backend/domain/wish/error/WishErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/wish/error/exception/WishException.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/WishRepository.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/query/WishRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/query/WishRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/wish/service/WishService.java
  src/main/resources/db/migration/V3__modify_enum_to_varchar.sql
  src/test/java/org/kakaoshare/backend/domain/funding/service/FundingServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/gift/service/GiftServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/wish/repository/WishRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/wish/service/WishServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/ProductFixture.java
  src/test/java/org/kakaoshare/backend/fixture/WishFixture.java
Labels: :black_heart:back, feat

#91 주문 페이지 구현
  src/main/java/org/kakaoshare/backend/domain/option/dto/OptionSummaryRequest.java
  src/main/java/org/kakaoshare/backend/domain/option/repository/OptionDetailRepository.java
  src/main/java/org/kakaoshare/backend/domain/order/controller/OrderController.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/preview/OrderPreviewRequest.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/preview/OrderPreviewResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/service/OrderService.java
  src/main/java/org/kakaoshare/backend/domain/payment/controller/PaymentController.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/preview/PaymentPreviewRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/preview/PaymentPreviewResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/entity/PaymentMethod.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/product/exception/ProductErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/product/exception/ProductException.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/test/java/org/kakaoshare/backend/domain/order/service/OrderServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
Labels: :black_heart:back, feat, test

#94 소셜 로그인 로직 수정, 토큰 재발급 로직 추가
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginMemberResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/IssuedTokenResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/IssuedTokenResult.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/MemberDetails.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/token/RefreshToken.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/token/RefreshTokenErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/token/RefreshTokenException.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/token/RefreshTokenRepository.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthWebClientService.java
  src/main/java/org/kakaoshare/backend/jwt/util/JwtProvider.java
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#102 Feature/fix wish reservation
  src/main/java/org/kakaoshare/backend/domain/wish/controller/WishController.java
  src/main/java/org/kakaoshare/backend/domain/wish/dto/WishDetail.java
  src/main/java/org/kakaoshare/backend/domain/wish/entity/Wish.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/query/WishRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/query/WishRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/wish/service/WishService.java
  src/test/java/org/kakaoshare/backend/domain/wish/repository/WishRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/wish/service/WishServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/WishFixture.java
Labels: bug, :black_heart:back, feat

#106 펀딩 결제 기능 추가
  src/main/java/org/kakaoshare/backend/domain/funding/controller/FundingController.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/request/FundingPreviewRequest.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/request/FundingProductDto.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/response/FundingPreviewAmount.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/preview/response/FundingPreviewResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingDetail.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingException.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingDetailRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingService.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/Gift.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/Order.java
  src/main/java/org/kakaoshare/backend/domain/payment/controller/PaymentController.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/FundingOrderDetail.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/PaymentFundingReadyRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductRepository.java
  src/main/resources/db/migration/V4__modify_funding_detail_orders.sql
  src/main/resources/db/migration/V4__modify_gift.sql
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/FundingFixture.java
Labels: :black_heart:back, refactor, feat, test

#116 HOTFIX: Cookie 관련 httpOnly, secure 옵션 활성화
  src/main/java/org/kakaoshare/backend/domain/member/controller/RefreshTokenCookieProvider.java
Labels: bug, :black_heart:back, refactor

#112 Feature/authenticated products wish
  build.gradle
  src/main/java/org/kakaoshare/backend/common/config/logging/P6spyLogMessageFormatConfiguration.java
  src/main/java/org/kakaoshare/backend/common/config/logging/P6spySqlFormatConfiguration.java
  src/main/java/org/kakaoshare/backend/domain/product/controller/ProductController.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/Product4DisplayDto.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/product/service/ProductService.java
  src/main/java/org/kakaoshare/backend/domain/search/service/SearchService.java
  src/main/resources/db/migration/V4.1__modify_funding_detail_orders.sql
  src/test/java/org/kakaoshare/backend/domain/product/repository/ProductRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImplTest.java
  src/test/java/org/kakaoshare/backend/domain/search/service/SearchServiceTest.java
Labels: :black_heart:back, feat

#113 결제 취소 로직 추가 및 기존 테이블 DDL 수정
  src/main/java/org/kakaoshare/backend/domain/funding/dto/FundingResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingDetail.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingDetailStatus.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingStatus.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingDetailErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingDetailException.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingDetailRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingRepository.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/Gift.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/GiftStatus.java
  src/main/java/org/kakaoshare/backend/domain/gift/repository/GiftRepository.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/Order.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/OrderStatus.java
  src/main/java/org/kakaoshare/backend/domain/order/exception/OrderErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/order/exception/OrderException.java
  src/main/java/org/kakaoshare/backend/domain/order/repository/OrderRepository.java
  src/main/java/org/kakaoshare/backend/domain/payment/controller/PaymentController.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/approve/response/KakaoPayApproveResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/cancel/request/PaymentCancelDto.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/cancel/request/PaymentCancelRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/cancel/request/PaymentFundingCancelRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/cancel/request/PaymentFundingDetailCancelRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/kakaopay/Amount.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/kakaopay/cancel/request/KakaoPayCancelRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/kakaopay/cancel/response/KakaoPayCancelResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/entity/Payment.java
  src/main/java/org/kakaoshare/backend/domain/payment/exception/PaymentErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/payment/repository/PaymentRepository.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/KakaoPayRequestProvider.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductRepository.java
  src/main/java/org/kakaoshare/backend/domain/receipt/entity/Receipt.java
  src/main/resources/application-dev.yml
  src/main/resources/db/migration/V4.1__modify_funding_detail_orders.sql
  src/main/resources/db/migration/V4__modify_gift.sql
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/FundingFixture.java
  src/test/java/org/kakaoshare/backend/fixture/MemberFixture.java
Labels: :black_heart:back, refactor, feat, test

#122 Feature/dockerlize and set for load balancing
  Dockerfile
  appspec.yml
  docker-compose.yml
  scripts/deploy.sh
Labels: :black_heart:back, infra, config
