Repository KakaoFunding/back-end, pull requests merged in 2024-02, with the labels that each got.

#7 Feature/set querydsl gitignore
  .gitignore
  build.gradle
  src/main/resources/application.properties
  src/test/java/org/kakaoshare/backend/TestComponentTest.java
Labels: :black_heart:back, config

#10 feature/encode-config
  .github/workflows/pull-request-intergration.yml
  .gitignore
  build.gradle
  src/main/java/org/kakaoshare/backend/common/config/JasyptConfig.java
  src/main/resources/application-dev.yml
  src/main/resources/application.properties
  src/main/resources/application.yml
Labels: :black_heart:back, config

#11 refactor/ci-java-version
  .github/workflows/pull-request-intergration.yml
Labels: bug, :black_heart:back, config

#6 Feature/set-Entity
  src/main/java/org/kakaoshare/backend/domain/base/entity/BaseTimeEntity.java
  src/main/java/org/kakaoshare/backend/domain/brand/entity/Brand.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/BrandRepository.java
  src/main/java/org/kakaoshare/backend/domain/category/entity/Category.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/CategoryRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingDetail.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingDetailRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingRepository.java
  src/main/java/org/kakaoshare/backend/domain/gift/entity/Gift.java
  src/main/java/org/kakaoshare/backend/domain/gift/repository/GiftRepository.java
  src/main/java/org/kakaoshare/backend/domain/hashtag/entity/Hashtag.java
  src/main/java/org/kakaoshare/backend/domain/hashtag/entity/ProductHashtag.java
  src/main/java/org/kakaoshare/backend/domain/hashtag/repository/HashtagRepository.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/domain/option/entity/Option.java
  src/main/java/org/kakaoshare/backend/domain/option/entity/OptionDetail.java
  src/main/java/org/kakaoshare/backend/domain/option/repository/OptionDetailRepository.java
  src/main/java/org/kakaoshare/backend/domain/option/repository/OptionRepository.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/Order.java
  src/main/java/org/kakaoshare/backend/domain/order/repository/OrderRepository.java
  src/main/java/org/kakaoshare/backend/domain/payment/entity/Payment.java
  src/main/java/org/kakaoshare/backend/domain/payment/repository/PaymentRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/ProductDescriptionPhoto.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/ProductDetail.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/ProductThumbnail.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductDescriptionPhotoRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductDetailRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductHashtagRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductThumbnailRepository.java
  src/main/java/org/kakaoshare/backend/domain/theme/entity/Theme.java
  src/main/java/org/kakaoshare/backend/domain/theme/repository/ThemeRepository.java
  src/main/java/org/kakaoshare/backend/domain/wish/entity/Wish.java
  src/main/java/org/kakaoshare/backend/domain/wish/repository/WishRepository.java
  src/test/java/org/kakaoshare/backend/TestComponentTest.java
Labels: :black_heart:back, feat

#13 Feature/12 카테고리 조회
  src/main/java/org/kakaoshare/backend/common/config/QuerydslConfiguration.java
  src/main/java/org/kakaoshare/backend/domain/brand/dto/TabType.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/CategoryDto.java
  src/main/java/org/kakaoshare/backend/domain/category/entity/Category.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/CategoryRepository.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/category/service/CategoryService.java
  src/test/java/org/kakaoshare/backend/domain/category/repository/CategoryRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/category/service/CategoryServiceTest.java
Labels: :black_heart:back, feat

#16 Feature/14 member dependency config
  build.gradle
  src/main/java/org/kakaoshare/backend/common/config/RedisConfig.java
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/config/WebClientConfig.java
  src/main/resources/application-dev.yml
Labels: :black_heart:back, config
