Repository KakaoFunding/back-end, pull requests merged in 2024-06, with the labels that each got.

#260 [FEAT, REFACTOR] 인증 관련 예외 처리 로직 추가, 기존 예외 처리 로직 및 로그인 요청 방식 수정
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/error/ErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/GlobalErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/exception/BusinessException.java
  src/main/java/org/kakaoshare/backend/common/error/handler/CustomAuthenticationEntryPoint.java
  src/main/java/org/kakaoshare/backend/common/error/handler/GlobalExceptionHandler.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/code/KakaoApiErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/code/KakaoAuthErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/exception/KakaoApiException.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/exception/KakaoAuthException.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/handler/KakaoErrorHandler.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/response/KakaoApiErrorResponse.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/response/KakaoAuthErrorResponse.java
  src/main/java/org/kakaoshare/backend/common/error/response/ErrorResponse.java
  src/main/java/org/kakaoshare/backend/common/filter/JwtAuthenticationFilter.java
  src/main/java/org/kakaoshare/backend/common/util/sort/error/SortErrorCode.java
  src/main/java/org/kakaoshare/backend/common/vo/date/exception/DateErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/category/error/CategoryErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/friend/exception/FriendErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/friend/service/KakaoFriendWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingDetailErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/funding/exception/FundingErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/gift/exception/GiftErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/MemberErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/token/RefreshTokenErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/detail/kakao/KakaoOAuthService.java
  src/main/java/org/kakaoshare/backend/domain/option/entity/Option.java
  src/main/java/org/kakaoshare/backend/domain/order/exception/OrderErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/payment/exception/PaymentErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/product/exception/ProductErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/rank/error/RankErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/wish/error/WishErrorCode.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtErrorCode.java
  src/main/java/org/kakaoshare/backend/jwt/util/JwtProvider.java
  src/main/resources/application-dev.yml
Labels: :black_heart:back, refactor, feat

#264 [HOTFIX] 로그인시 중복 회원가입 오류 해결
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
Labels: bug, :black_heart:back, refactor

#262 Feature/set monitoring tool
  build.gradle
  docker-compose.yml
  nginx.conf
  prometheus.yml
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/resources/application-monitor.yml
Labels: :black_heart:back, infra, config

#268 [HOTFIX] 인증 관련 에러 코드 수정
  src/main/java/org/kakaoshare/backend/common/error/kakao/code/KakaoApiErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/kakao/code/KakaoAuthErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/token/RefreshTokenErrorCode.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtErrorCode.java
Labels: bug, :black_heart:back, refactor

#272 [HOTFIX]주문내역 조회 버그 수정
  src/main/java/org/kakaoshare/backend/domain/order/repository/query/OrderRepositoryCustomImpl.java
Labels: bug, :black_heart:back, refactor

#297 [FEAT, REFACTOR] 주문내역, 펀딩함, 결제 완료 API 응답에 나에게 선물인지 여부를 나타내는 필드 추가
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/order/controller/OrderController.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/OrderProductDto.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/request/OrderHistoryRequest.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/response/OrderHistoryDetailResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/inquiry/response/OrderHistoryResponse.java
  src/main/java/org/kakaoshare/backend/domain/order/repository/query/OrderRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/order/service/OrderService.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentSuccessReceiver.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/test/java/org/kakaoshare/backend/domain/order/service/OrderServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#305 [FEAT, REFACTOR] 받은 선물, 기여한 펀딩 내역에 self 필드 추가
  src/main/java/org/kakaoshare/backend/common/util/RepositoryUtils.java
  src/main/java/org/kakaoshare/backend/domain/funding/controller/FundingController.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/inquiry/ContributedFundingHistoryDto.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/inquiry/ContributedFundingHistoryResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/inquiry/FriendFundingInquiryRequest.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/inquiry/request/FriendFundingInquiryRequest.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/inquiry/response/ContributedFundingHistoryResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/inquiry/response/FundingContributorResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingDetailRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingDetailRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingDetailService.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingService.java
  src/main/java/org/kakaoshare/backend/domain/gift/controller/GiftController.java
  src/main/java/org/kakaoshare/backend/domain/gift/dto/GiftResponse.java
  src/main/java/org/kakaoshare/backend/domain/gift/dto/inquiry/detail/response/GiftDescriptionResponse.java
  src/main/java/org/kakaoshare/backend/domain/gift/dto/inquiry/detail/response/GiftDetailResponse.java
  src/main/java/org/kakaoshare/backend/domain/gift/dto/inquiry/history/GiftDto.java
  src/main/java/org/kakaoshare/backend/domain/gift/dto/inquiry/history/response/GiftResponse.java
  src/main/java/org/kakaoshare/backend/domain/gift/repository/query/GiftRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/gift/repository/query/GiftRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/gift/service/GiftService.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductDto.java
  src/test/java/org/kakaoshare/backend/domain/funding/service/FundingDetailServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/gift/repository/GiftRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/gift/service/GiftServiceTest.java
Labels: :black_heart:back, refactor, feat

#311 [HOTFIX] 선물 조회 시 보낸 이의 선물내역을 보여주는 현상 해결
  src/main/java/org/kakaoshare/backend/domain/gift/dto/inquiry/history/GiftDto.java
  src/main/java/org/kakaoshare/backend/domain/gift/repository/query/GiftRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductDto.java
  src/test/java/org/kakaoshare/backend/domain/gift/repository/GiftRepositoryTest.java
Labels: bug, :black_heart:back, refactor

#314 [REFACTOR] 리프레시 토큰을 쿠키에서 꺼내거나 담도록 수정
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/controller/RefreshTokenCookieProvider.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/ReissueResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/issue/ReissueResult.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
Labels: :black_heart:back, refactor

#316 [FEAT] metric 사용시 로깅을 사용하지 않는 로직 추가, favicon.ico 요청 허용
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/logging/filter/LoggingFilter.java
Labels: :black_heart:back, refactor, config
