Repository KakaoFunding/back-end, pull requests merged in 2024-03, with the labels that each got.

#29 Feature/21 jwt spring security
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/filter/JwtAuthenticationFilter.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/MemberDetails.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Role.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/jwt/service/UserDetailsServiceImpl.java
  src/main/java/org/kakaoshare/backend/jwt/util/JwtProvider.java
  src/main/resources/application-prod.yml
  src/test/java/org/kakaoshare/backend/common/service/UserDetailsServiceImplTest.java
  src/test/java/org/kakaoshare/backend/fixture/MemberFixture.java
Labels: :black_heart:back, feat, config, test

#32 Feature/카테고리 상세 조회 및 브랜드&상품 조회 로직 일부
  src/main/java/org/kakaoshare/backend/BackEndApplication.java
  src/main/java/org/kakaoshare/backend/TestComponent.java
  src/main/java/org/kakaoshare/backend/TestEntity.java
  src/main/java/org/kakaoshare/backend/TestEntityRepository.java
  src/main/java/org/kakaoshare/backend/common/config/DatabaseInitializer.java
  src/main/java/org/kakaoshare/backend/common/config/QuerydslConfig.java
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/util/OrderByNull.java
  src/main/java/org/kakaoshare/backend/common/util/SortUtil.java
  src/main/java/org/kakaoshare/backend/common/util/SortableRepository.java
  src/main/java/org/kakaoshare/backend/domain/brand/dto/TabType.java
  src/main/java/org/kakaoshare/backend/domain/brand/entity/Brand.java
  src/main/java/org/kakaoshare/backend/domain/brand/entity/query/SimpleBrandDto.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/BrandRepository.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/category/api/CategoryController.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/CategoryDto.java
  src/main/java/org/kakaoshare/backend/domain/category/dto/TabType.java
  src/main/java/org/kakaoshare/backend/domain/category/entity/Category.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/category/repository/query/CategoryRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/category/service/CategoryService.java
  src/main/java/org/kakaoshare/backend/domain/product/controller/ProductController.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/query/SimpleProductDto.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/ProductRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/product/service/ProductService.java
  src/main/resources/application-dev.yml
  src/main/resources/application-test.yml
  src/main/resources/testdata/initial_category_brand_product.sql
  src/test/java/org/kakaoshare/backend/TestComponentTest.java
  src/test/java/org/kakaoshare/backend/common/RepositoryTest.java
  src/test/java/org/kakaoshare/backend/common/TestQueryDslConfig.java
  src/test/java/org/kakaoshare/backend/domain/brand/repository/BrandRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/category/repository/CategoryRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/category/service/CategoryServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/product/repository/ProductRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/product/service/ProductServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#34 OAuth2를 이용한 소셜 로그인 구현
  build.gradle
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/util/EnumValidator.java
  src/main/java/org/kakaoshare/backend/common/util/EnumValue.java
  src/main/java/org/kakaoshare/backend/common/util/MultiValueMapConverter.java
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/OAuthProfile.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/OAuthProfileFactory.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/profile/detail/KakaoProfile.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/token/OAuthTokenRequest.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/token/OAuthTokenResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Gender.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/MemberDetails.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/MemberErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/member/exception/MemberException.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/query/MemberRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/query/MemberRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/member/service/UserDetailsServiceImpl.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthWebClientService.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtErrorCode.java
  src/main/java/org/kakaoshare/backend/jwt/exception/JwtException.java
  src/main/java/org/kakaoshare/backend/jwt/util/JwtProvider.java
  src/main/resources/application-dev.yml
  src/test/java/org/kakaoshare/backend/domain/member/repository/query/MemberRepositoryCustomImplTest.java
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/member/service/UserDetailsServiceImplTest.java
  src/test/java/org/kakaoshare/backend/fixture/MemberFixture.java
  src/test/java/org/kakaoshare/backend/util/DatabaseCleanUp.java
Labels: :black_heart:back, refactor, feat, config, test

#39 Refresh 토큰, 로그아웃 기능 추가, 기존 로그인 응답값 수정
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/domain/member/controller/OAuthController.java
  src/main/java/org/kakaoshare/backend/domain/member/controller/RefreshTokenCookieProvider.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginMemberResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginResponse.java
  src/main/java/org/kakaoshare/backend/domain/member/dto/oauth/authenticate/OAuthLoginResult.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/token/RefreshToken.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/token/RefreshTokenRepository.java
  src/main/java/org/kakaoshare/backend/domain/member/service/oauth/OAuthService.java
  src/main/java/org/kakaoshare/backend/jwt/util/JwtProvider.java
  src/main/java/org/kakaoshare/backend/jwt/util/RefreshTokenProvider.java
  src/main/resources/application-dev.yml
  src/test/java/org/kakaoshare/backend/domain/member/service/OAuthServiceTest.java
Labels: :black_heart:back, refactor, feat, test

#49 V1_init.sql, 토큰 만료시간 수정, 엑세스 토큰에서 회원 providerId 를 가져오는 리졸버 클래스 및 어노테이션 추가
  src/main/java/org/kakaoshare/backend/common/config/WebConfig.java
  src/main/java/org/kakaoshare/backend/jwt/util/LoggedInMember.java
  src/main/java/org/kakaoshare/backend/jwt/util/LoggedInMemberResolver.java
  src/main/resources/application-dev.yml
  src/main/resources/db/migration/V1__init.sql
Labels: :black_heart:back, refactor, feat

#46 Feature/custom exception handling
  .github/PULL_REQUEST_TEMPLATE.md
  build.gradle
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/common/error/ErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/GlobalErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/exception/BusinessException.java
  src/main/java/org/kakaoshare/backend/common/error/handler/GlobalExceptionHandler.java
  src/main/java/org/kakaoshare/backend/common/error/response/ErrorResponse.java
  src/main/java/org/kakaoshare/backend/common/util/sort/SortUtil.java
  src/main/java/org/kakaoshare/backend/common/util/sort/SortableRepository.java
  src/main/java/org/kakaoshare/backend/common/util/sort/error/SortErrorCode.java
  src/main/java/org/kakaoshare/backend/common/util/sort/error/exception/NoMorePageException.java
  src/main/java/org/kakaoshare/backend/common/util/sort/error/exception/UnsupportedSortTypeException.java
  src/main/java/org/kakaoshare/backend/domain/category/controller/CategoryController.java
  src/main/java/org/kakaoshare/backend/domain/category/error/CategoryErrorCode.java
  src/main/java/org/kakaoshare/backend/domain/category/error/exception/CategoryException.java
  src/main/java/org/kakaoshare/backend/domain/category/service/CategoryService.java
  src/main/java/org/kakaoshare/backend/domain/product/controller/ProductController.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/SimpleProductDto.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/product/service/ProductService.java
  src/main/resources/application-dev.yml
  src/test/java/org/kakaoshare/backend/domain/product/repository/ProductRepositoryTest.java
Labels: :black_heart:back, feat, config

#52 Feature/produce brands in pages
  src/main/java/org/kakaoshare/backend/common/config/SecurityConfig.java
  src/main/java/org/kakaoshare/backend/domain/brand/controller/BrandController.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/brand/service/BrandService.java
  src/main/java/org/kakaoshare/backend/domain/product/controller/ProductController.java
  src/test/java/org/kakaoshare/backend/domain/brand/repository/BrandRepositoryTest.java
Labels: :black_heart:back, feat

#56 Feature/produce specific brands products
  src/main/java/org/kakaoshare/backend/common/config/DatabaseInitializer.java
  src/main/java/org/kakaoshare/backend/common/util/sort/SortUtil.java
  src/main/java/org/kakaoshare/backend/domain/brand/controller/BrandController.java
  src/main/java/org/kakaoshare/backend/domain/brand/dto/SimpleBrandDto.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/brand/service/BrandService.java
  src/main/java/org/kakaoshare/backend/domain/product/controller/ProductController.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/Product4DisplayDto.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductDto.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/SimpleProductDto.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/product/service/ProductService.java
  src/main/resources/testdata/initial_category_brand_product.sql
  src/test/java/org/kakaoshare/backend/domain/brand/repository/BrandRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/product/repository/ProductRepositoryTest.java
Labels: :black_heart:back, feat

#57 결제 기능 추가
  src/main/java/org/kakaoshare/backend/common/error/GlobalErrorCode.java
  src/main/java/org/kakaoshare/backend/common/error/handler/GlobalExceptionHandler.java
  src/main/java/org/kakaoshare/backend/domain/brand/entity/Brand.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/OrderSummary.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/Order.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/OrderStatus.java
  src/main/java/org/kakaoshare/backend/domain/payment/controller/PaymentController.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/PaymentDetail.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/approve/request/KakaoPayApproveRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/approve/response/Amount.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/approve/response/Card.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/approve/response/KakaoPayApproveResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/KakaoPayReadyRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/request/PaymentReadyRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/response/KakaoPayReadyResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/ready/response/PaymentReadyResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/request/PaymentSuccessRequest.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/PaymentSuccessResponse.java
  src/main/java/org/kakaoshare/backend/domain/payment/dto/success/response/Receiver.java
  src/main/java/org/kakaoshare/backend/domain/payment/entity/Payment.java
  src/main/java/org/kakaoshare/backend/domain/payment/entity/PaymentMethod.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/KakaoPayRequestProvider.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/OrderNumberProvider.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentWebClientService.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/resources/application-dev.yml
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/BrandFixture.java
  src/test/java/org/kakaoshare/backend/fixture/ProductFixture.java
Labels: :black_heart:back, refactor, feat, test

#58 펀딩 아이템 추가, 조회 구현 및 상품 상세정보 조회기능 리팩토링
  .github/workflows/build-deploy.yml
  scripts/deploy.sh
  src/main/java/org/kakaoshare/backend/domain/funding/controller/FundingController.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/FundingResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/FundingSliceResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/ProgressResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/RegisterRequest.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/RegisterResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/FundingRepository.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/funding/service/FundingService.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/DescriptionResponse.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/DetailResponse.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/test/java/org/kakaoshare/backend/domain/funding/service/FundingServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/BrandFixture.java
  src/test/java/org/kakaoshare/backend/fixture/FundingFixture.java
  src/test/java/org/kakaoshare/backend/fixture/ProductFixture.java
Labels: :black_heart:back, refactor, feat

#63 V1__init.sql 에 Order, Payment 엔티티 변경사항 반영
  src/main/resources/db/migration/V1__init.sql
Labels: :black_heart:back, refactor

#64 검색 기능 추가
  src/main/java/org/kakaoshare/backend/common/config/QuerydslConfig.java
  src/main/java/org/kakaoshare/backend/common/dto/PageResponse.java
  src/main/java/org/kakaoshare/backend/common/util/RepositoryUtils.java
  src/main/java/org/kakaoshare/backend/domain/brand/dto/SimpleBrandDto.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/Product4DisplayDto.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/search/controller/SearchController.java
  src/main/java/org/kakaoshare/backend/domain/search/dto/BrandSearchRequest.java
  src/main/java/org/kakaoshare/backend/domain/search/dto/ProductSearchRequest.java
  src/main/java/org/kakaoshare/backend/domain/search/dto/SimpleBrandProductDto.java
  src/main/java/org/kakaoshare/backend/domain/search/service/SearchService.java
  src/test/java/org/kakaoshare/backend/common/RepositoryTest.java
  src/test/java/org/kakaoshare/backend/common/TestJpaAuditingConfig.java
  src/test/java/org/kakaoshare/backend/common/TestQueryDslConfig.java
  src/test/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImplTest.java
  src/test/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImplTest.java
  src/test/java/org/kakaoshare/backend/domain/search/service/SearchServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/BrandFixture.java
  src/test/java/org/kakaoshare/backend/fixture/ProductFixture.java
Labels: :black_heart:back, refactor, feat, test

#67 Feature/adjust entity mapping
  src/main/java/org/kakaoshare/backend/common/config/DatabaseInitializer.java
  src/main/java/org/kakaoshare/backend/common/util/sort/SortUtil.java
  src/main/java/org/kakaoshare/backend/domain/brand/entity/Brand.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/BrandRepository.java
  src/main/java/org/kakaoshare/backend/domain/brand/repository/query/BrandRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/category/entity/Category.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/FundingResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/ProgressResponse.java
  src/main/java/org/kakaoshare/backend/domain/funding/dto/RegisterRequest.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/Funding.java
  src/main/java/org/kakaoshare/backend/domain/funding/entity/FundingDetail.java
  src/main/java/org/kakaoshare/backend/domain/funding/repository/query/FundingRepositoryCustom.java
  src/main/java/org/kakaoshare/backend/domain/hashtag/entity/Hashtag.java
  src/main/java/org/kakaoshare/backend/domain/hashtag/entity/ProductHashtag.java
  src/main/java/org/kakaoshare/backend/domain/member/controller/RefreshTokenCookieProvider.java
  src/main/java/org/kakaoshare/backend/domain/member/entity/Member.java
  src/main/java/org/kakaoshare/backend/domain/member/repository/MemberRepository.java
  src/main/java/org/kakaoshare/backend/domain/option/entity/Option.java
  src/main/java/org/kakaoshare/backend/domain/option/entity/OptionDetail.java
  src/main/java/org/kakaoshare/backend/domain/order/dto/OrderSummary.java
  src/main/java/org/kakaoshare/backend/domain/order/entity/Order.java
  src/main/java/org/kakaoshare/backend/domain/payment/entity/Payment.java
  src/main/java/org/kakaoshare/backend/domain/payment/service/PaymentService.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/DescriptionResponse.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/DetailResponse.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/Product4DisplayDto.java
  src/main/java/org/kakaoshare/backend/domain/product/dto/ProductDto.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/Product.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/ProductDetail.java
  src/main/java/org/kakaoshare/backend/domain/product/entity/ProductThumbnail.java
  src/main/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImpl.java
  src/main/java/org/kakaoshare/backend/domain/theme/entity/Theme.java
  src/main/java/org/kakaoshare/backend/domain/wish/entity/Wish.java
  src/main/resources/application-dev.yml
  src/main/resources/db/migration/V1__init.sql
  src/main/resources/testdata/initial_category_brand_product.sql
  src/test/java/org/kakaoshare/backend/domain/brand/repository/BrandRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/payment/service/PaymentServiceTest.java
  src/test/java/org/kakaoshare/backend/domain/product/repository/ProductRepositoryTest.java
  src/test/java/org/kakaoshare/backend/domain/product/repository/query/ProductRepositoryCustomImplTest.java
  src/test/java/org/kakaoshare/backend/domain/search/service/SearchServiceTest.java
  src/test/java/org/kakaoshare/backend/fixture/BrandFixture.java
  src/test/java/org/kakaoshare/backend/fixture/ProductFixture.java
Labels: :black_heart:back, feat, config
